In [40]:
# Calculate DS
def calculate_ds(x):
  while x not in (0,1,2,3,4,5,6,7,8,9): #Conditionaly iterate until number is in the tuple.
      a=0 #Variable that holds the digit sum.
      for i in str(x): #Iterate over the numbers in the number.
          a+=int(i) #sum the numbers
      x=a #Change the value of the number to the digit sum.
  return(x)

In [41]:
def digit_sum(r11,r12,r21,r22,r31,r32,pr=False,pw=False):
  global lr #Make list to hold correct digit sums.
  lr=[]
  global lw #Make list to hold incorrect digit sums.
  lw=[]
  for n1 in range(r11,r12): #First iterator gets added to ->
      for n2 in range(r21,r22):#second iterator to equal ->
          for n3 in range(r31,r32):#third iterator.
              x=n1+n2 #Variable that holds correct sum of first to iterators.
              
              n4 = calculate_ds(n1)
              n5 = calculate_ds(n2)
              n45=n4+n5 #Sum the first and second number.

              n45 = calculate_ds(n45)
              n6 = calculate_ds(n3)
              
              if n45 == n6 and n3 != x:
                  lw.append([n1,n2,n3])
                  if pw==True: #Can print the incorrect digit sums.
                      print(str(n1)+'+'+str(n2)+'!='+str(n3))
              else: 
                  lr.append([n1,n2,n3])
                  if pr==True: #Can print the correct digit sums.
                      print(str(n1)+'+'+str(n2)+'='+str(n3))

In [46]:
digit_sum(1,101,1,101,1,201,)

In [47]:
len(lw)/(len(lw)+len(lr))

0.1061115

In [45]:
digit_sum(1,2,1,2,1,100,pw=True)

1+1!=11
1+1!=20
1+1!=29
1+1!=38
1+1!=47
1+1!=56
1+1!=65
1+1!=74
1+1!=83
1+1!=92

In [48]:
digit_sum(1,2,1,2,1,100,pr=True)

1+1=1
1+1=2
1+1=3
1+1=4
1+1=5
1+1=6
1+1=7
1+1=8
1+1=9
1+1=10
1+1=12
1+1=13
1+1=14
1+1=15
1+1=16
1+1=17
1+1=18
1+1=19
1+1=21
1+1=22
1+1=23
1+1=24
1+1=25
1+1=26
1+1=27
1+1=28
1+1=30
1+1=31
1+1=32
1+1=33
1+1=34
1+1=35
1+1=36
1+1=37
1+1=39
1+1=40
1+1=41
1+1=42
1+1=43
1+1=44
1+1=45
1+1=46
1+1=48
1+1=49
1+1=50
1+1=51
1+1=52
1+1=53
1+1=54
1+1=55
1+1=57
1+1=58
1+1=59
1+1=60
1+1=61
1+1=62
1+1=63
1+1=64
1+1=66
1+1=67
1+1=68
1+1=69
1+1=70
1+1=71
1+1=72
1+1=73
1+1=75
1+1=76
1+1=77
1+1=78
1+1=79
1+1=80
1+1=81
1+1=82
1+1=84
1+1=85
1+1=86
1+1=87
1+1=88
1+1=89
1+1=90
1+1=91
1+1=93
1+1=94
1+1=95
1+1=96
1+1=97
1+1=98
1+1=99